.modal {
    width: clamp(250px, 70vw, 400px);
    background-color: #fff8;
    backdrop-filter: blur(20px);
    padding: 32px;
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.post-button {
    position: fixed;
    bottom: 32px;
    right: 32px;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-color: var(--secondary);
    backdrop-filter: blur(20px);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 16px #0005;
    z-index: 25;
    cursor: pointer;
    color: white;
    font-size: 25px;
    transition: all 0.3s ease;
}

.post-button:hover {
    transform: scale(1.1);
    background-color: var(--primary);
}

.post-form {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 50;
    background: #0005;
    backdrop-filter: blur(20px);
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: all;
    opacity: 1;
    transition: all 0.3s ease;
}

.post-form .modal {
    width: clamp(250px, 70vw, 500px);
}

.post-form textarea {
    resize: none;
    width: 100%;
    min-height: 200px;
}

.post-form .input-group {
    width: 100%;
}

.post-form .submit-group {
    align-self: flex-end;
}

.post-form.hidden {
    pointer-events: none;
    opacity: 0;
}